{
  "presets": ["next/babel"],
  "plugins": [
    [
      "import",
      {
        "libraryName": "antd"
      }
    ],
    [
      "module-resolver",
      {
        "alias": {
          "@/pages": "./pages",
          "@/public": "./public",
          "@/styles": "./styles"
        }
      }
    ]
  ]
}
